# Strapi Configurations
HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified


# Database Configurations
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=tobemodified
DATABASE_FILENAME=tobemodified
DATABASE_POOL_MIN=tobemodified
DATABASE_POOL_MAX=tobemodified


# SendGrid API Configuration
SENDGRID_API_KEY=tobemodified
SENDGRID_DEFAULT_FROM=tobemodified
SENDGRID_DEFAULT_REPLY_TO=tobemodified

# S3 Configuration
S3_ENDPOINT=tobemodified
S3_BUCKET_PATH=tobemodified
S3_BUCKET=tobemodified
S3_REGION=tobemodified
S3_SUBDOMAIN_CDN=tobemodified
S3_ACCESS_KEY_ID=tobemodified
S3_ACCESS_SECRET=tobemodified

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_KEY_PREFIX=somekey
REDIS_DEBUG=true
REDIS_USERNAME=ausername
REDIS_PASSWORD=iamasecret
